@model SuperStore_WebSite.Models.KHACHHANG
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login/SignUp</title>
    @*<link href="~/Content/acoount.css" rel="stylesheet" />*@
    <link href="~/Content/login.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/Account/SignUp" enctype="multipart/form-data" method="post" class="sign-up-form">
                    @Html.AntiForgeryToken()
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" class="input" required="true" name="TENKH" placeholder="Name" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" class="input" required="true" name="SDT" placeholder="SDT" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" class="input" required="true" name="DIACHI" placeholder="Diachi" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        @Html.TextBoxFor(temp => temp.EMAIL, new { Type = "text", required = "true", Name = "EMAIL", @class = "input", placeholder = "Email" })
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        @Html.TextBoxFor(temp => temp.PASSWORD, new { Type = "password", required = "true", Name = "PASSWORD", @class = "input", placeholder = "Password" })
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="password" class="input" , required="true" , name="repass" placeholder="Enter the password" />
                    </div>
                    <input type="submit" class="btn" value="Sign up" />                   
                </form>
                <form action="/Account/Login" enctype="multipart/form-data" method="post" class="sign-in-form">
                    @Html.AntiForgeryToken()
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        @Html.TextBoxFor(temp => temp.EMAIL, new { Type = "text", Name = "EMAIL", required = "true", @class = "input", placeholder = "Email" })
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        @Html.TextBoxFor(temp => temp.PASSWORD, new { Type = "password", Name = "PASSWORD", required = "true", @class = "input", placeholder = "Password" })
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>                     
                </div>
                <img src="img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        laboriosam ad deleniti.
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
                <img src="img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>

    <script>
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");

        sign_up_btn.addEventListener("click", () => {
            container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener("click", () => {
            container.classList.remove("sign-up-mode");
        });
    </script>

</body>
</html>
@*<head>
        <meta name="viewport" content="width=device-width" />
        <title>Login/SignUp</title>
        <link href="~/Content/acoount.css" rel="stylesheet" />
    </head>
    <body>
        <div class="form-structor">
            @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                <div class="signup">
                    <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
                    <div class="form-holder">
                        <input type="text" class="input" name="Name" placeholder="Name"/>
                        @Html.TextBoxFor(temp => temp.EMAIL, new { Type = "text", Name = "EMAIL", @class = "input", placeholder = "Email" })
                        @Html.TextBoxFor(temp => temp.PASSWORD, new { Type = "password", Name = "PASSWORD", @class = "input", placeholder = "Password" })
                        <input type="password" class="input" name="repass" placeholder="Enter the password" />
                        <button class="submit-btn">Sign up</button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="login slide-up">
                    <div class="center">
                        <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                        <div class="form-holder">
                            @Html.TextBoxFor(temp => temp.EMAIL, new { Type = "text", Name = "EMAIL", @class = "input", placeholder = "Email" })
                            @Html.TextBoxFor(temp => temp.PASSWORD, new { Type = "password", Name = "PASSWORD", @class = "input", placeholder = "Password" })
                        </div>
                        <button class="submit-btn">Log in</button>
                    </div>
                </div>
            }
        </div>
        <script src="~/Content/Account.js"></script>
    </body>
    </html>*@

