@model IEnumerable<SuperStore_WebSite.Models.NHANVIEN>

@{
    ViewBag.Title = "Index";
       Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
}

<h2>Quản lý nhân viên</h2>
<div class="row m-3 w-100 " style="">
    <div class="col-2 w-75">
        @Html.ActionLink("Thêm nhân viên mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-5">

    </div>
    <div class="col-5">

        <a><i>Tìm tên nhân viên</i></a>
        @using (Html.BeginForm("TimKiem", "QuanLyNhanVien"))
        {
            <input name="TuKhoa" style="width: 400px; height: 40px; border-bottom-left-radius: 10px; border-radius: 10px; padding-left: 10px" class="" type="search" id="search" placeholder="Search...    " />
            <button type="submit" value="tìm kiếm" class="mt-1" style="height: 40px; border-radius: 10px;border:none; border-top-right-radius: 10px;background-color: #5D7B6F ">Tìm</button>

        }





    </div>

</div>

<p style="font-size: larger;">
    <b><u>Sắp xếp theo</u></b>
</p>
<div class="col-11">
    <div class="row m-3 w-100 " style="">
        <div class="col-3">
            @*<a href="/QuanLySanPham/AdenZ" class="btn btn-primary w-75">A-Z</a>*@
            @Html.ActionLink("A-Z", "AdenZ", null, new { }, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-3 w-100">
            @Html.ActionLink("Z-A", "ZdenA", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white;" })
        </div>


    </div>
</div>
<div class="col-1">
</div>

<div class="col-11">
    <table class="table">
        <tr class="border-left-0" style="font-size: x-large; background-color: #5D7B6F">
            <th>
                Họ đệm
            </th>
            <th>
                Tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Mật khẩu
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sodienthoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diachi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chucvu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
                    </td>
                </tr>*@
            {
                // Giả sử item.TenNV là một chuỗi có định dạng "Họ đệm Tên"
                string tenNV = item.TENNV;

                // Tách chuỗi thành mảng các phần tử, sử dụng khoảng trắng làm điểm phân cách
                string[] parts = tenNV.Split(' ');

                // Lấy họ đệm và tên
                string hoDem = parts.Length > 1 ? string.Join(" ", parts.Take(parts.Length - 1)) : "";
                string ten = parts.Length > 0 ? parts.Last() : "";

                <tr>
                    <td>
                        @hoDem
                    </td>
                    <td>
                        @ten
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIACHI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CHUCVU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PASSWORD)

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MANV }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MANV }, new { @class = "btn btn-danger" })
                        @*@Html.ActionLink("Details", "Details", new { id = item.MaNV }) |*@

                    </td>
                </tr>
            }



        }

    </table>

</div>
<div class="col-1">
</div>


