@model IEnumerable<SuperStore_WebSite.Models.HOADON>

@{
    ViewBag.Title = "Quản lý hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
}

<style>
    .search-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .search-container input[type=search] {
            width: 400px;
            height: 40px;
            border-bottom-left-radius: 10px;
            border-radius: 10px;
            padding-left: 10px;
        }

        .search-container button {
            height: 40px;
            border-radius: 10px;
            border: none;
            border-top-right-radius: 10px;
            background-color: #5D7B6F;
            color: white;
        }

    .sort-buttons {
        margin-top: 20px;
    }

    .table th,
    .table td {
        text-align: center;
    }

    .action-buttons {
        display: flex;
        justify-content: center;
    }

        .action-buttons a {
            margin-right: 10px;
        }
</style>

<div class="container-fluid al">
    <h2>Quản lý hóa đơn</h2>
    <div class="col-12 mt-3">
        <i class="fas fa-sort"></i> Sắp xếp theo
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Sort", "QuanLyHoaDon", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="input-group">
                <select name="sortOrder" class="form-control">
                    <option value="DonCXN">Đơn đã xác nhận</option>
                    <option value="DonDXN">Đơn chưa xác nhận</option>
                    <option value="SXMN">ba chấm</option>
                    <option value="SXCN">ba chấm luôn</option>
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Sắp xếp</button>
                </div>
            </div>
        }
    </div>

    <table class="table table-bordered table-hover " id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    Ngày lập
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    Thành tiền
                </th>
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Nhân viên xác nhận
                </th>
                <th>
                    Duyệt hóa đơn
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYLAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TINHTRANG)
                    </td>
                    <td>
                        @String.Format("{0:0,0 VNĐ}", @item.TONGTIEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
                    </td>
                    <td>
                        @if (item.TINHTRANG != "Đã giao")
                        {
                            <center>
                                @Html.ActionLink(" Xác nhận đơn hàng", "CapnhatHD", new { id = item.MAHD }, new { @class = "btn btn-info fa fa-check" })
                            </center>
                        }
                        else
                        {
                            if (item.TINHTRANG == "Đã giao")
                            {
                                DateTime ngayHienTai = DateTime.Now;
                                DateTime ngayLap = item.NGAYLAP.Value; // Giả sử item.NGAYLAP có giá trị

                                // Lấy hiệu của hai ngày
                                TimeSpan hieuNgay = ngayHienTai.Date - ngayLap.Date;
                                int soNgayChenhLech = hieuNgay.Days;
                                if (soNgayChenhLech < 8)
                                {
                                    @Html.ActionLink(" Hủy đơn hàng", "HuyHD", new { id = item.MAHD }, new { @class = "btn btn-warning fa fa-ban" })
                                }
                            }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="pageNavPosition" class="text-right"></div>

    <div class="col-1"></div>
   
    <b>Tổng số đơn hàng: @Model.Count()</b>

</div>
