@model IEnumerable<SuperStore_WebSite.Models.HOADON>

@{
    ViewBag.Title = "Index";
       Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

}

@{ int dem = 0;}
<h2>Quản lý hóa đơn</h2>
<div class="row m-3 w-100 " style="">
    <div class="col-2 w-75">
        
    </div>
    <div class="col-5">

    </div>
    <div class="col-5">
        <p></p>
    </div>

</div>

<p style="font-size: larger;">
    <b><u>Sắp xếp theo</u></b>
</p>
<div class="col-11">
    <div class="row m-3 w-100 " style="">
        <div class="col-2">
            @Html.ActionLink("Đơn chưa xác nhận", "DonCXN", null, new { }, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-2 w-100">
            @Html.ActionLink("Đơn đã xác nhận", "DonDXN", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-2">
            @Html.ActionLink("Đơn quá hạn trả", "DonQH", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-2 w-100">
            @Html.ActionLink("Giá giảm dần", "GiaGiam", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-2">
            @Html.ActionLink("Đơn mới nhất", "SXMN", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-2 w-100">
            @Html.ActionLink("Đơn cũ nhất", "SXCN", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
    </div>
</div>
<div class="col-1">
</div>

<p>
</p>
<div class="col-11">
    <table class="table">
        <tr class="  border-left-0" style="font-size: x-large; background-color: #5D7B6F">
            <th>
                Ngày lập
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Thành tiền
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Nhân viên xác nhận
            </th>
            <th>
                Xác nhận
            </th>
        </tr>

        @foreach (var item in Model)
        {
            dem++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYLAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TINHTRANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TONGTIEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
                </td>
            <td>

                @if (item.TINHTRANG != "Đã giao")
                {
                    <center>
                        @Html.ActionLink("Xác nhận đơn hàng", "CapnhatHD", new { id = item.MAHD }, new { @class = "btn btn-info" })
                    </center>
                }
            </td>
            </tr>
        }

    </table>
</div>
<div class="col-1">

</div>


<b>Tổng số đơn hàng: @dem </b>
