@model SuperStore_WebSite.Models.KHACHHANG

@{
    ViewBag.Title = "Create";
       Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";

<h2>Tạo khách hàng mới</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <a>Mã khách hàng</a>

        <div class="col-md-10">
            @Html.EditorFor(model => model.MAKH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Tên khách hàng</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENKH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Số điện thoại</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Ngày sinh</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NGAYSINH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Giới tính</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GIOITINH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Địa chỉ</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Email</a>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Mật khẩu</a>
        <div class="col-md-10">

            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
