@model SuperStore_WebSite.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
       Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
}

<h2>Xóa khách hàng này?</h2>


<div>
    
    <hr />
   
    
    <table class="table">
        <tr>
            <th>
                Tên khách hàng:
            </th>
            <td>
                @Html.DisplayFor(model => model.TENKH)
            </td>
        </tr>

        <tr>
            <th>
                Số điện thoại:
            </th>
            <td>
                @Html.DisplayFor(model => model.SDT)
            </td>
        </tr>

        <tr>
            <th>
                Ngày sinh:
            </th>
            <td>
                @Html.DisplayFor(model => model.NGAYSINH)
            </td>
        </tr>

        <tr>
            <th>
                Giới tính:
            </th>
            <td>
                @Html.DisplayFor(model => model.GIOITINH)
            </td>
        </tr>

        <tr>
            <th>
                Địa chỉ:
            </th>
            <td>
                @Html.DisplayFor(model => model.DIACHI)
            </td>
        </tr>


        <tr>
            <th>
                Email:
            </th>
            <td>
                @Html.DisplayFor(model => model.EMAIL)
            </td>
        </tr>

        <tr>
            <th>
                Mật khẩu:
            </th>
            <td>
                @Html.DisplayFor(model => model.PASSWORD)
            </td>
        </tr>

       
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <center>
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </center>
            
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
