@model IEnumerable<SuperStore_WebSite.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
       Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
}

<h2>Quản lý khách hàng</h2>

<div class="row m-3 w-100 " style="">
    <div class="col-2 w-75">
        
    </div>
    <div class="col-5">

    </div>
    <div class="col-5">

        <a><i>Tìm tên khách hàng</i></a>
        @using (Html.BeginForm("TimKiem", "QuanLyKhachHang"))
        {
            <input name="TuKhoa" style="width: 400px; height: 40px; border-bottom-left-radius: 10px; border-radius: 10px; padding-left: 10px" class="" type="search" id="search" placeholder="Search...    " />
            <button type="submit" value="tìm kiếm" class="mt-1" style="height: 40px; border-radius: 10px;border:none; border-top-right-radius: 10px;background-color: #5D7B6F" >Tìm</button>

        }


        @*<form>
                <a><i>Tìm tên sản phẩm</i></a>
                <input name="searchkey" style="width: 350px; height: 40px; border-bottom-left-radius: 10px; border-radius: 10px; padding-left: 10px" class="" type="search" id="search" placeholder="Search...    " />
                <button type="submit" name="submit" value="tìm kiếm" class="mt-1 bg-info" style="height: 40px; border-radius: 10px;border:none; border-top-right-radius: 10px;">Tìm</button>
            </form>*@


    </div>

</div>

<p style="font-size: larger;">
    <b><u>Sắp xếp theo</u></b>
</p>
<div class="col-11">
    <div class="row m-3 w-100 " style="">
        <div class="col-3">
            @*<a href="/QuanLySanPham/AdenZ" class="btn btn-primary w-75">A-Z</a>*@
            @Html.ActionLink("A-Z", "AdenZ", null, new { }, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-3 w-100">
            @Html.ActionLink("Z-A", "ZdenA", null, new { @class = "btn btn-primary w-75", style = "background-color: #5D7B6F; color: white; " })
        </div>
        <div class="col-3">
            @*@Html.ActionLink("Giá tăng dần", "GiaTang", null, new { @class = "btn btn-primary w-75" })*@
        </div>
        <div class="col-3 w-100">
            @*@Html.ActionLink("Giá giảm dần", "GiaGiam", null, new { @class = "btn btn-primary w-75" })*@
        </div>
    </div>
</div>
<div class="col-1">
</div>

<p>

    @*<a href="@Url.Action("Create","QuanLyKhachHang") " class="btn btn-info"> Thêm khách hàng </a>*@
    @*@Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })*@

</p>
<div class="col-11">
    <table class="table table-hover">
        <tr class="  border-left-0" style="font-size: x-large; background-color: #5D7B6F">
            <th>
                Họ đệm
            </th>
            <th>
                Tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Địa chỉ
            </th>


            <th>
                Email
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Tùy chỉnh
            </th>

        </tr>

        @foreach (var item in Model)
        {

            // Giả sử item.TenNV là một chuỗi có định dạng "Họ đệm Tên"
            string tenNV = item.TENKH;

            // Tách chuỗi thành mảng các phần tử, sử dụng khoảng trắng làm điểm phân cách
            string[] parts = tenNV.Split(' ');

            // Lấy họ đệm và tên
            string hoDem = parts.Length > 1 ? string.Join(" ", parts.Take(parts.Length - 1)) : "";
            string ten = parts.Length > 0 ? parts.Last() : "";

            <tr>
                <td>
                    @hoDem
                </td>
                <td>
                    @ten
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYSINH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIOITINH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PASSWORD)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.MAKH }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MAKH }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>
<div class="col-1">

</div>
