@model IEnumerable<SuperStore_WebSite.Models.KHUYENMAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .container-fluid {
        margin-top: 20px;
    }

    .btn {
        margin-right: 5px;
    }        
</style>

<div class="container-fluid">
    <h2>Quản lý khuyến mãi</h2>
    <div class="row m-3">
        <div class="col-12 col-md-2">
            @Html.ActionLink(" Thêm khuyến mãi mới", "Create", null, new { @class = "btn btn-outline-success fa fa-lightbulb-o", style = "font-size: 16px; padding: 10px;" })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Mã khuyến mãi
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Giảm giá
                    </th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAKM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGAYBD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGAYKT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GIAGIAM)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MAKM }, new { @class = "btn btn-warning btn-sm" }) |                           
                            @Html.ActionLink("Delete", "Delete", new { id = item.MAKM }, new { @class = "btn btn-danger btn-sm delete-link" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

        
