@model SuperStore_WebSite.Models.SANPHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Thêm mới sản phẩm</h2>
    <hr />
    @using (Html.BeginForm("Create", "QuanLySanPham", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center">
            <div class="col-md-8">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    <label for="MASP" class="col-md-2 col-form-label">Mã sản phẩm</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MASP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="TENSP" class="col-md-2 col-form-label">Tên sản phẩm</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="MaLoai" class="col-md-2 col-form-label">Mã loại</label>
                    <div class="col-md-10">
                        @Html.DropDownList("MaLoai", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MALOAI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="MaNCC" class="col-md-2 col-form-label">Mã nhà cung cấp</label>
                    <div class="col-md-10">
                        @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MANCC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- ... (Các mục khác tương tự) -->

                <div class="form-group row">
                    <label for="fileInput" class="col-md-2 col-form-label">Hình</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HINHANH)
                        <input type="file" name="fileupload" id="fileInput" class="form-control-file">
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#fileInput').change(function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    $('#HINHANH').val(fileName);
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fileInput1" class="col-md-2 col-form-label">Hình liên quan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HINHLIENQUAN)
                        <input type="file" name="fileupload1" id="fileInput1" class="form-control-file">
                        <script>
                            $(document).ready(function () {
                                $('#fileInput1').change(function () {
                                    var fileName1 = $(this).val().split("\\").pop();
                                    $('#HINHLIENQUAN').val(fileName1);
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    }
    <hr />
    <div class="text-center mt-3">
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
