@model IEnumerable<SuperStore_WebSite.Models.SANPHAM>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage2.cshtml";
    <style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn-custom {
        background-color: #5D7B6F;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
        margin-right: 10px;
    }
    
    </style>
}

<div class="container-fluid al">
    <h2>Quản lý sản phẩm</h2>
    <div class="row m-3">       
        <div class="col-12 col-md-2">
            @Html.ActionLink(" Thêm sản phẩm mới", "Create", null, new { @class = "btn btn-outline-success fa fa-lightbulb-o", style = "font-size: 16px; padding: 10px;" }) &nbsp;
        </div>

            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-5">
                <a><i>Tìm tên sản phẩm</i></a>
                @using (Html.BeginForm("TimKiem", "QuanLySanPham"))
                {
                    <div class="input-group">
                        <input name="TuKhoa" class="form-control" type="search" id="search" placeholder="Search..." />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-custom">Tìm</button>
                        </div>
                    </div>
                }
            </div>
    </div>


    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title m-0">
                    <i class="fas fa-sort"></i> Sắp xếp theo
                </h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Sort", "QuanLySanPham", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <div class="input-group">
                        <select name="sortOrder" class="form-control">
                            <option value="AdenZ">A-Z</option>
                            <option value="ZdenA">Z-A</option>
                            <option value="GiaTang">Giá tăng dần</option>
                            <option value="GiaGiam">Giá giảm dần</option>
                            <option value="KM">Có khuyến mãi</option>
                            <option value="NonKM">Không khuyến mãi</option>
                        </select>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Sắp xếp</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-hover " id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Loại</th>
                <th>Nhà cung cấp</th>
                <th>Mã khuyến mãi</th>
                <th>Giá</th>
                <th>Số lượng tồn</th>
                <th>Ghi chú</th>
                <th>Hình ảnh</th>
                <th>Hình ảnh liên quan</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TENSP)</td>
                    <td>@Html.DisplayFor(modelItem => item.LOAI.TENLOAI)</td>
                    <td>@Html.DisplayFor(modelItem => item.NHACUNGCAP.TENNCC)</td>
                    <td>@Html.DisplayFor(modelItem => item.MAKM)</td>
                    <td>
                        <a>@String.Format("{0:0,0}", item.GIABAN) VND</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.SOLUONGTON)</td>
                    <td>
                        @{
                            var truncatedGHICHU = item.GHICHU?.Substring(0, Math.Min(item.GHICHU.Length, 15));
                        }
                        @truncatedGHICHU ...
                    </td>
                    <td>
                        <img class="img-thumbnail" style="max-height: 50px; max-width: 50px" src="~/Resources/img/@item.HINHANH" />
                    </td>
                    <td>
                        <img class="img-thumbnail" style="max-height: 50px; max-width: 50px" src="~/Resources/img/@item.HINHLIENQUAN" />
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MASP }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MASP }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div id="pageNavPosition" class="text-right"></div>
</div>  


